body {
  padding:20px;
}
.all {
  max-width:600px;
  margin:0 auto;
}
.all > h1 {
  padding:0 1em .5em;
  border-bottom:2px solid #000;
  margin:0 -1em 0;
}
.all > h2 {
  padding:.5em 0 0;
}
.moduleWrap {
  overflow:hidden;
  padding:1em 0;
}
